{% extends "base.html" %}

{% block content %}
    <h1>{{_('Calculate your cheapest way to fulfill your nutritional recommendations!')}}</h1>
    <p>{{_('The calculator is based on:')}}</p>
    <ul>
      <li><a href="http://www.fineli.fi/">{{_('the nutritional values of 50 groceries')}}</a> (<a href="aineet">{{_('list of them')}}</a>),</li>
      <li><a href="https://www.s-kaupat.fi/">{{_('their average prices in the Prisma stores in Finland')}}</a>,</li>
      <li><a href="https://www.ruokavirasto.fi/globalassets/teemat/terveytta-edistava-ruokavalio/kuluttaja-ja-ammattilaismateriaali/julkaisut/ravitsemussuositukset_2014_fi_web_versio_5.pdf">{{_('the official Finnish recommendations about the intake of vitamins, minerals, fibre, protein and fats')}}</a> {{_('and')}}</li>
      <li><a href="https://en.wikipedia.org/wiki/Linear_programming">{{_('linear optimization')}}</a>.</li>
    </ul>
    <p>{{_('Enter the required information:')}}</p>
    <form>
      <fieldset>
        <label>{{_('Age:')}} <select name="ika">
          {% for r in ryhmat %}
            <option value="{{r}}" {{ 'selected' if r == ika }}>{{r}}</option>
          {% endfor %}
        </select></label>
        <label>{{_('Gender:')}} <select name="sp">
          <option value="M" {{ 'selected' if sp == 'M' }}>{{_('Male')}}</option>
          <option value="N" {{ 'selected' if sp == 'N' }}>{{_('Female')}}</option>
        </select></label>
        <label>{{_('Energy consumption (kcal/day):')}}
          <input name="energia" type="number" required value="{{energia}}">
        </label>
      </fieldset>
      <fieldset>
        <label><input name="keliakia" {{ 'checked' if keliakia }} type="checkbox">{{_('Celiac')}}</label>
        <label><input name="laktoosi" {{ 'checked' if laktoosi }} type="checkbox">{{_('Lactose intolerant')}}</label>
        <label><input name="kasvis" {{ 'checked' if kasvis }} type="checkbox">{{_('Vegetarian')}}</label>
        <label><input name="vegaani" {{ 'checked' if vegaani }} type="checkbox">{{_('Vegan (if you check, the calculator will ignore iodine, vitamin B12, and docosahexaenoic acid)')}}</label>
      </fieldset>
      <fieldset>
        <label>{{_('My needed protein intake is (g/day, the official recommendation will be used if you leave this empty):')}} <input name="proteiini" type="number" value="{{proteiini}}"></label>
        <br>
        <label>{{_('I know I get')}} <input name="d" type="number" value="{{d}}"> {{_('µg of vitamin D from the sun per day.')}}</label>
      </fieldset>
      <input type="submit" value="{{_('Calculate!')}}">
    </form>
    {% if tulos %}
      <p>{{_('The results (weekly portion)')}}:</p>
      <ul>
        {% for t in tulos %}
          <li>{{t.maara}} g {{t.nimi}} <a href="{{t.osoite}}">({{t.hinta}})</a></li>
        {% endfor %}
      </ul>
      <p>{{_('Together')}} {{yhteensa}} {{_('per week!')}}</p>
      <p><b>{{_('WARNING:')}}</b> {{_('certain processes destroy certain nutrients. For example, vitamin C gets easily destroyed when heated up, and its most essential source is')}} {{clahde}} {{_('in these results. Furthermore, nothing proves the nutritional research to be ready. You follow the results at your own risk.')}}</p>
    {% endif %}
{% endblock %}
