form {
    background: #CCCCCC;
}

form input {
    padding: 5px;
    margin: 5px;
}

form select {
    padding: 5px;
    margin: 5px;
}

#reading {
    display: none;
}

button {
    padding: 5px;
    margin: 5px;
}