form input {
    padding: 5px;
    margin: 5px;
}

form select {
    padding: 5px;
    margin: 5px;
}

form button {
    padding: 5px;
    margin: 5px;
}

#collapsible {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in;
}

.warning {
    background: yellow;
    border: solid 5px;
    border-color: red;
    padding: 5px;
}

address {
    float: right;
    text-align: right;
}
