<!DOCTYPE html>
<html lang="fi">
<head><link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
<title>Ruoka-aineet</title></head>
<body>
    <address>
        © Ilari Kauko
       <br>
       Kysymykset ja palaute: ilarikauko@gmail.com
    </address>
    <p>Laskenta perustuu seuraaviin ruoka-aineisiin: </p>
    <ul>
        {% for ruoka in data %}
            <li>{{ ruoka['nimi'] }} <a href="{{ruoka['osoite']}}">(tuote)</a></li>
        {% endfor %}
    </ul>
</body>
</html>
