<!DOCTYPE html>
<html lang="fi">
  <head>
    <title>Säästä ruoassa</title>
  </head>
  <body>
    <input type="hidden" value="{{ryhmat}}" id="ryhmat">
    <address>
      © Ilari Kauko
      <br>
      Kysymykset ja palaute: ilarikauko@gmail.com
    </address>
    <h1>Laske, kuinka täytät ravitsemussuositukset halvimmalla!</h1>
    <p>Laskuri perustuu <a href="aineet">50</a> ruoka-aineen <a href="http://www.fineli.fi/">ravintoarvoihin</a>, niiden keskimääräisiin <a href="https://www.s-kaupat.fi/">hintoihin</a> Prismoissa, valtion ravitsemusneuvottelukunnan <a href="https://www.ruokavirasto.fi/globalassets/teemat/terveytta-edistava-ruokavalio/kuluttaja-ja-ammattilaismateriaali/julkaisut/ravitsemussuositukset_2014_fi_web_versio_5.pdf">suosituksiin</a> vitamiinien, kivennäisaineiden, kuitujen, proteiinien ja rasvojen saannista ja <a href="https://en.wikipedia.org/wiki/Linear_programming">lineaariseen optimointiin</a>.</p>
    <p>Syötä tietosi:</p>
    <form>
      <fieldset>
        <label>Ikä: <select name="ika">
          {% for r in ryhmat %}
            <option value="{{r}}" {{ 'selected' if r == ika }}>{{r}}</option>
          {% endfor %}
        </select></label>
        <label>Sukupuoli: <select name="sp">
          <option value="M" {{ 'selected' if sp == 'M' }}>Mies</option>
          <option value="N" {{ 'selected' if sp == 'N' }}>Nainen</option>
        </select></label>
        <label>Energiantarve (kcal/päivä): 
          <input name="energia" type="number" required value="{{energia}}">
        </label>
      </fieldset>
      <fieldset>
        <label><input name="keliakia" {{ 'checked' if keliakia }} type="checkbox">Keliakia</label>
        <label><input name="laktoosi" {{ 'checked' if laktoosi }} type="checkbox">Laktoosi-intoleranssi</label>
        <label><input name="kasvis" {{ 'checked' if kasvis }} type="checkbox">Kasvissyöjä</label>
        <label><input name="vegaani" {{ 'checked' if vegaani }} type="checkbox">Vegaani</label>
      </fieldset>
      <fieldset>
        <label>Proteiinin tarpeeni on (jos jätät tyhjäksi, laskuri käyttää virallista suositusta): <input name="proteiini" type="number" value="{{proteiini}}"></label>
        <br>
        <label>Tiedän saavani D-vitamiinia auringosta <input name="d" type="number" value="{{d}}"> µg/päivä. </label>
      </fieldset>
      <input type="submit" value="Laske!">
    </form>
    {% if tulos %}
      <p>Tulokset (viikottainen määrä):</p>
      <ul>
        {% for t in tulos %}
          <li>{{t.nimi}} {{t.maara}} g <a href="{{t.osoite}}">({{t.hinta}} €)</a></li>
        {% endfor %}
      </ul>
      <p>Yhteensä {{yhteensa}} €/viikko!</p>
    {% endif %}
  </body>
</html>

